body{
    /*margin: 1px;*/
}

#container{
    width: 100%;
    height: 100%;
}

#graphContainer{
    height: 100%;
    overflow: hidden;
}

#graph {
    background: #222;
    min-height: 95%
}

.buttons-container {
    text-align: center;
    height: 50px;
}

.btn{
    background: #eee;
    padding: 5px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    left: 1px;
}

#textForm{
    text-align: center;
}

#textForm textarea{
    width: 100%;
    height: 450px;
}

#textForm *{
    margin: 5px 0;
}

fieldset{
    border: 1px solid #ccc;
}


#errors div{
    color: red;
    margin: 20px;
}

.tabs{
    float: left;
    width: 400px;
    position: relative;
    min-height: 100%;
    clear: both;
}

.tab{
    float: left;
}

.tabLabel {
    background: #eee;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: -1px;
    position: relative;
    top: 10px;
    left: 1px;
    cursor: pointer;
}
.tabHeader {
    display: none;
}
.content {
    position: absolute;
    top: 37px;
    left: 0;
    background: white;
    right: 0;
    bottom: 0;
    padding: 10px;
    border: 1px solid #ccc;
}
.tabHeader:checked ~ label {
    background: white;
    border-bottom: 1px solid white;
    z-index: 2;
}
.tabHeader:checked ~ label ~ .content {
    z-index: 1;
}

#tagClouds{
    overflow: auto;
}

.tagCloud{
    border: 1px solid #ccc;
    margin: 10px;
    background-color: #fafafa;
    cursor: pointer;
    padding: 3px;
    user-select: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: inset 0 1px 0 #ccc, 0 5px 0 0 #555, 0 10px 5px #999;
}

.tagCloudDisabled, .tagCloud:active {
    top:3px;
    background-color: #ccc;
    box-shadow: inset 0 1px 0 #ccc, 0 1px 0 0 #555, 0 1px 1px #999;
}

.tagColor{
    width: 15px;
    height: 15px;
}

.tags{
    text-align:center;
    padding:5px;
    font-family:arial;
    color: #555;
}

#tagList { margin:0; padding:0; }
#tagList li { list-style-type:none; float:left; margin:0 10px; height:35px; }
#tagList li a { text-decoration:none; color:#ffffff; }
#tagList li a:hover { text-decoration:underline; }