<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='sigma.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sigma.forceatlas.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.8.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='tagcloud.js') }}"></script>
</head>
<body>

<script type="text/javascript">
    $(document).ready(function () {
        $("span").tagcloud({
            size:{
                start:10,
                end:40,
                unit:'px'
            },
            color:{
                start:"#000000",
                end:"#000000"
            }
        });
    });
</script>
<div id="container">
    <div class="tabs">
        <div class="tab" id="formTab">
            <input type="radio" id="tab-1" class="tabHeader" name="tab-group-1" {% if not colored_topic_keywords %}
                   checked {% endif %}>
            <label class="tabLabel" for="tab-1">Tekst</label>

            <div class="content">
                <div id="errors">
                    {% if errors %}
                        <div>{{ errors }}</div>
                    {% endif %}
                </div>
                <form id="textForm" action="" method="post">
                    <textarea name="text" id="text" placeholder="Wprowadź przykładowy tekst">{{ text }}</textarea>
                    <label for="percentage">Poziom szczegółowości grafu (w %) </label>
                    <input size="4" type="text" name="percentage" id="percentage" value="20"/>
                    <fieldset>
                        <legend>Miara centralności węzłów</legend>
                        <label>
                            <input type="radio" name="centrality" value="betweenness">Betweenness
                        </label>
                        <label>
                            <input type="radio" name="centrality" value="degree" checked="checked">Stopień wierzchołka
                        </label>
                    </fieldset>
                    <input class="btn" type="submit" value="Stwórz wizualizację"/>
                </form>
            </div>
        </div>
        <div class="tab">
            <input type="radio" id="tab-2" class="tabHeader" name="tab-group-1" {% if colored_topic_keywords %}
                   checked {% endif %}>
            <label class="tabLabel" for="tab-2">Tag cloud</label>

            <div class="content" id="tagClouds">
                {% for color,key_words_tuples in colored_topic_keywords.items() %}
                    <div class="tagCloud">
                        <div class="tagColor" data-color="{{ color }}" style="background-color:{{ color }}">
                        </div>
                        <div class="tags">
                            {% for probability,word in key_words_tuples %}
                                <span rel="{{ probability }}">{{ word }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div id="graphContainer">
        <div id="graph">
        </div>
        <div class="buttons-container">
            <button class="btn" id="stop-layout">Zatrzymaj rozmieszczanie</button>
            <button class="btn" id="rescale-graph">Rescale Graph</button>
        </div>
    </div>
</div>


<script type="text/javascript">
    {% if colored_nodes %}
        function init() {
            var sigInst = sigma.init(document.getElementById('graph')).drawingProperties({
                defaultLabelColor:'#fff',
                defaultLabelSize:14,
                defaultLabelBGColor:'#fff',
                defaultLabelHoverColor:'#000',
                labelThreshold:6,
                defaultEdgeType:'curve'
            }).graphProperties({
                        minNodeSize:1,
                        maxNodeSize:15,
                        minEdgeSize:1,
                        maxEdgeSize:1
                    }).mouseProperties({
                        maxRatio:20
                    });
            var i = 0

        {% for color,nodes in colored_nodes.items() %}
            {% for node in nodes %}
                sigInst.addNode('{{ node.word }}', {
                    'x':Math.random(),
                    'y':Math.random(),
                    'size':2 *{{ node.get_size() }},
                    'color':'{{ color }}',
                    'cluster':i
                });
                i++;
            {% endfor %}
        {% endfor %}

            i = 0
        {% for color,nodes in colored_nodes.items() %}
            {% for node in nodes %}
                {% for neighbour,weight in node.neighbours %}
                    sigInst.addEdge(i, '{{node.word}}', '{{neighbour.word}}');
                    i += 1;
                {% endfor %}
            {% endfor %}
        {% endfor %}


            sigInst.startForceAtlas2();

            sigInst.bind('overnodes',function (event) {
                var nodes = event.content;
                var neighbors = {};
                sigInst.iterEdges(function (e) {
                    if (nodes.indexOf(e.source) >= 0 || nodes.indexOf(e.target) >= 0) {
                        neighbors[e.source] = 1;
                        neighbors[e.target] = 1;
                    }
                }).iterNodes(function (n) {
                            if (!neighbors[n.id]) {
                                n.hidden = 1;
                            } else {
                                n.hidden = 0;
                            }
                        }).draw(2, 2, 2);
            }).bind('outnodes', function () {
                        sigInst.iterEdges(function (e) {
                            e.hidden = 0;
                        }).iterNodes(function (n) {
                                    n.hidden = 0;
                                }).draw(2, 2, 2);
                    });

            var isRunning = true;
            document.getElementById('stop-layout').addEventListener('click', function () {
                if (isRunning) {
                    isRunning = false;
                    sigInst.stopForceAtlas2();
                    document.getElementById('stop-layout').childNodes[0].nodeValue = 'Start Layout';
                } else {
                    isRunning = true;
                    sigInst.startForceAtlas2();
                    document.getElementById('stop-layout').childNodes[0].nodeValue = 'Stop Layout';
                }
            }, true);
            document.getElementById('rescale-graph').addEventListener('click', function () {
                sigInst.position(0, 0, 1).draw();
            }, true);

            $(".tagCloud").click(function (event) {
                var disabled = $(this).hasClass("tagCloudDisabled");
                var tagColor = $(this).children(".tagColor").data("color");
                sigInst.iterNodes(function (node) {
                    if (node.color == tagColor) {
                        node.hidden = !disabled;
                    }
                }).draw(2, 2, 2);
                $(this).toggleClass("tagCloudDisabled");
            })
        }

        if (document.addEventListener) {
            document.addEventListener('DOMContentLoaded', init, false);
        } else {
            window.onload = init;
        }
    {% endif %}
</script>

</body>
</html>
